/* base styles, feel free to edit */
:root {
  --reddit-blue: #0079D3;
  --reddit-orange: #FF5700;
  --reddit-grey: rgba(0, 0, 0, 0.0975);
  --reddit-light-grey:  rgba(0, 0, 0, 0.041);
  --reddit-bg-color: #f1f1f7;
  --body-text-size: 12px;
  --alt-text-color:  rgba(0, 0, 0, 0.65);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--reddit-bg-color);
  height: 100%;
  font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer {
  border-top: 1px solid var(--reddit-grey);
  padding: 10px;
  background-color: white;
  min-height: 50px;
  text-align: right;
}

.alt-text {
  color: var(--alt-text-color);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  min-height: 50px;
  border-bottom: 1px solid var(--reddit-grey);
}

#logo {
  color: white;
  font-size: var(--body-text-size);
  width: 40px;
  height: 40px;
  background-color: var(--reddit-orange);
  border-radius: 50%;
}

#search {
  background-color: var(--reddit-bg-color);
  font: inherit;
  font-size: var(--body-text-size);
  border: none;
  padding: 7.5px 15px;
  outline: none;
  border: 1px solid var(--reddit-grey);
  border-radius: 4px;
}

#search::placeholder {
  letter-spacing: 0.5px;
  font-size: var(--body-text-size);
}

#search:focus {
  background-color: white;
  border-color: var(--reddit-blue);
}

.button {
  border: 1px solid var(--reddit-blue);
  border-radius: 4px;
  text-transform: uppercase;
  padding: 7.5px 15px;
  font-weight: bold;
}

.button-primary {
  color: var(--reddit-blue);
}

.button-secondary {
  background-color: var(--reddit-blue);
  color: white;
}

.banner > *,
footer > * {
  margin: 10px 25px;
}

.nav {
  list-style-type: none;
  padding: 0;
}

.nav-item {
  margin: auto;
  padding: 5px;
  display: inline;
  list-style-type: none;
}

#feed {
  min-width: 500px;
  max-width: 800px;
  width: 80%;
  margin: 20px auto;
  padding: 0;
}

.feed-header {
  display: flex;
  justify-content: space-between;
}

.feed-title {
  font-weight: normal;
  margin: 0;
}

/* Add your styles here */
.form-wrapper{
/*
    position: absolute;
    right: 30px;
    left: 30px;
    Top: 200px;
    width: 500px;
    margin: 0 auto;
    z-index: 99;
    */
    text-align: center;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0,0,0,0.4);
}

form{
    display: inline-block;
    width: 500px;
    background: white;
    margin: 290px auto 0;
    padding: 30px;
    top: 50px;
    box-sizing: border-box;
    border: solid 1px #ccc;
}

form input{
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: 1px soild pink;
    font-size: 18px;
}
button:hover{
    opacity: 0.8;
}

.login-button{
    width: 30%;
    color: white;
    background-color: var(--reddit-blue);
    padding: 10px 20px;
    margin: 8px 0;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    position: relative;
    right: 75px;
}

.cancel-button{
    position:relative;
    left: 73px;
    width: 30%;
    color: white;
    background-color: #DC143C;
    padding: 10px 20px;
    margin: 8px 0;
    border-radius: 4px;
    border: none;
    font-weight: bold;
}

label{
    position: relative;
    right: 170px;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.vote{
    text-align: center;
}

.top-wrapper{
    margin-top: 15px;
    margin-left: 12px;
    margin-right: 12px;
}

.suseddit{
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    display: inline;
    line-height: 20px;
    text-decoration: none;
    vertical-align: baseline;
    cursor: pointer;
}

.dot{
    display: inline-block;
    vertical-align: middle;
    font-size: 9px;
    line-height: 20px;
    margin: 0 4px;
    color: gray;
}


.post-time{
    display: inline-block;
    color: gray;
    margin-right: 3px;
    font-size: 15px;
}


.author{
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    vertical-align: baseline;
    cursor: pointer;
    position: relative;
    left: 585px;
    color: #6495ED;
    top: -17px;
}

.post-img {
    width: 50%;
    height: 50%;
    display: block;
    margin: 0 auto 0;
}


.content{
    margin: 0 15px 0;
    display: block;
    /* width: 80%; */
    /* height: 50%; */
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    word-break: break-word;
    /* overflow: auto; */
    /* position: relative; */
    /* right: 100px; */
    padding-bottom: 1px;
    margin-bottom: -1px;
    vertical-align: middle;
}

.post-title {
    padding-top: 23px;
}

.bottom-wrapper{
    /* margin: 10px; */
    /* position: relative; */
    /* bottom: -100px; */
    /* left: 240px; */
    vertical-align: baseline;
    align-items: center;
    flex-flow: row nowrap;
    font-size: 15px;
    margin: 10px 15px 0;
}

.form-error{
    color: red;
    font-weight: 700;
}

#hi{
}

#notice{
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    /* color: #F08080; */
}

.pic:hover{
    opacity: 0.5;
}

.comments:hover{
    opacity: 0.9;
    color: #F08080;
    cursor: pointer;
}

.vppl{
    cursor:pointer;
}

.vppl:hover{
    color: blue;
    opacity: 0.8;
}

.vote-people{
    list-style: none;
}

.upvotes-wrap{
    z-index: 1; 
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
    text-align: center;
}

.vote-people {
    border-radius: 10px;
    display: inline-block;
    width: 400px;
    /* height: 500px; */
    overflow: auto;
    max-height: 500px;
    background: white;
    padding: 30px;
    top: 50px;
    box-sizing: border-box;
    border: 1px solid grey;
    margin: 5% auto 15% auto;
    text-align: start;
    overflow-y: auto;
}

.ppl-list{
    padding-top: 12px;
    border-width: 1px 0 0 0;
}


.cross{
    position: relative;
    right: -310px;
    font-size: 35px;
    font-weight: bold;
}

.cross-comment{
    position: relative;
    right: -410px;
    font-size: 35px;
    font-weight: bold;
}
.cross:hover,
.cross:focus,
.cross-comment:hover{
    cursor: pointer;
}

.comment_list{
    border-radius: 10px;
    display: inline-block;
    width: 500px;
    /* height: 500px; */
    overflow: auto;
    max-height: 500px;
    background: white;
    padding: 30px;
    top: 50px;
    box-sizing: border-box;
    border: 1px solid grey;
    margin: 5% auto 15% auto;
    text-align: start;
    overflow-y: auto;
}

.post-form {
    border-radius: 10px;
    display: inline-block;
    width: 500px;
    /* height: 500px; */
    overflow: auto;
    max-height: 700px;
    background: white;
    padding: 30px;
    top: 50px;
    box-sizing: border-box;
    border: 1px solid grey;
    margin: 5% auto 15% auto;
    text-align: start;
    overflow-y: auto;
}

#community-label{
    position: static;
    font-size: 18px;
    font-weight: bolder;
}

#title-label{
    position: static;
    font-size: 18px;
    font-weight: bolder;
}

#community-input{
    width: 300px;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: 1px soild pink;
    font-size: 18px;
}

#post-top{
    font-size: 28px;
    margin: 10px 10px 20px;
}

.post-form-title-wrap{
    margin: 20px;
}

#post-form-body-wrap{
    margin: 20px;
}

#post-body{
    font-size: 15px;
}

#image-wrap{
    margin: 20px;
}
.img-btn{
    background-color: white;
    color: var(--reddit-blue);
}

.post-btn{
    position: relative;
    left: 356px;
    background-color: var(--reddit-blue);
    color: white; 

}

.cross-post{
    position: relative;
    left: 410px;
}

#post-label{
    position: static;
    font-size: 18px;
    font-weight: bolder;
}

.post-body-wrap{
    margin: 20px;
}

.profile-wrap{
    text-align: center;
}

.info-wrap{
    display: inline-block;
}

ul{
    list-style: none;
}

span{
    font-weight: bolder;
}
